<div class="page_title">
    <h1 class="h1_title">
        New Team
    </h1>
</div>

<div class="page_content">

    <div class="divider">
        <%= form_tag teams_path do %>
        <label class="form_label">Team Name:</label><br>
        <%= text_field_tag :name %><br>
    </div>

    <div class="divider">
        <label class="form_label">Trainer ID:</label><br>
        <%= number_field_tag :trainer_id, :class => "form_padding" %><br>
    </div>

    <%= submit_tag "Add Team", :class => "button"  %>
    <% end %>

 </div>
